header {
    padding: .5rem 1rem;

    display: flex;
    justify-content: center;
}
.cards {
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}