header {
    padding: .5rem 1rem;

    display: flex;
    justify-content: center;
}
.cards {
    height: 100%;
    width: 98%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

    place-items: center;
}

hr {
    width: 90%;
    margin: auto;
    opacity: .3;
}